{% extends 'base.html' %}

{% block content %}

<h1 class="mb-4">Employee Profile</h1>

<div class="row">

<div class="col-md-4">
<div class="card p-4 shadow">
    <h3>{{ emp.user.username }}</h3>
    <p><b>Role:</b> {{ emp.role }}</p>
    <p><b>Branch:</b> {{ emp.branch }}</p>
    <p><b>Employee ID:</b> {{ emp.id }}</p>
    <p><b>Email:</b> {{ emp.user.email }}</p>
</div>
</div>

<div class="col-md-8">
<div class="row">

<div class="col-md-4">
<div class="card-box bg-primary">
<h4>Total Leaves</h4>
<h2>{{ total }}</h2>
</div>
</div>

<div class="col-md-4">
<div class="card-box bg-warning">
<h4>Used Leaves</h4>
<h2>{{ used }}</h2>
</div>
</div>

<div class="col-md-4">
<div class="card-box bg-success">
<h4>Balance</h4>
<h2>{{ balance }}</h2>
</div>
</div>

</div>
</div>

</div>

<br>

<div class="card p-4 shadow">

    <a href="/apply/" class="btn btn-primary mb-3">
Apply New Leave
</a>

<h3>Leave History</h3>

<table class="table table-bordered">

<tr>
<th>Type</th>
<th>Start</th>
<th>End</th>
<th>Status</th>
<th>Reason</th>
</tr>

{% for leave in leaves %}

<tr>
<td>{{ leave.leave_type }}</td>
<td>{{ leave.start_date }}</td>
<td>{{ leave.end_date }}</td>
<td>

{% if leave.status == 'Approved' %}
<span class="badge bg-success">
Approved
</span>

{% elif leave.status == 'Rejected' %}
<span class="badge bg-danger">
Rejected
</span>

{% else %}
<span class="badge bg-warning text-dark">
Pending
</span>

{% endif %}

</td>
<td>{{ leave.reason }}</td>
</tr>

{% endfor %}

</table>

</div>

{% endblock %}